body{
    background-color: #4d2dc3;
}
.DeepEye_nav{
    height: 130px;
    /*background-color: red;*/
}
.logo{
    width: 190px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0);
}
.DeepEye_nav ul{

}
.DeepEye_nav ul li{
    padding-top: 55px;
    margin-left: 43px;
    padding-bottom: 60px;

}
.DeepEye_nav ul li:hover{
    padding-top: 50px;

    border-top: 5px solid white;


}
.DeepEye_nav ul li a{
    font-size: 12px;
    color: #ffffff;
}
.footer{
    min-width: 640px;
    width: 100%;
    height: 320px;
    background-color: black;
    text-align: center;
    font-size: 18px;
    position: absolute;
    top:1213px;
    left: 0;
    z-index: 2
}
.footer1{
    height: 260px;
    color: #545454;
    background-color: black;
    padding-top: 50px;
    background-color: #1a1a1a;
    opacity: 0.5;

}

.footer2 p{
    font-size: 14px;
   color: #585858;
    text-align: center;
}





@media screen and (max-width: 768px) {
 .navbar-default .navbar-nav > li > a{
    color: white;
    height: 50px;
    line-height: 50px;



}
 .navbar-default .navbar-nav > li > a:hover{
    background-color: #6b53ca;
    border: 5px solid #6b53ca



}
.navbar-header{
    height: 80px;
}

.circle img{
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    border-radius: 50%;
}
}
