<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>微瞰智能</title>
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/member.css">
    <link rel="stylesheet" href="/static/css/common.css">

</head>
<body >

    <div>
        <div class="DeepEye_nav w">
            <div class="logo fl">
            </div>
            <ul>
                <li class='fl'><a href="/">我们是谁</a></li>
                <li class='fl'><a href="/member">团队成员</a></li>
                <li class='fl'><a href="/product">主要产品</a></li>
                <li class='fl'><a href="/contact">联系我们</a></li>
                <li class='fl'><a href="http://deepeye.cc">解决方案</a></li>
            </ul>
        </div>

        <div class="findTalent">
            <div class="joinUs">
                <span class="joinUsTop">招贤纳士</span>
                <br>
                <span class="joinUsBottom">Join&nbsp; Us</span>
            </div>
        </div>

        <div class="icon-position">
            <h4>logo</h4>
            <div id="contain">
                <span class="profess-select">计算机视觉算法工程师</span><br>
                <span class="profess-select">前端开发工程师</span><br>
                <span class="profess-select">后端python工程师</span><br>
                <span class="profess-select">UI设计师</span><br>
                <span class="profess-select">市场运营</span><br>
            </div>

        </div>

        <div class="findTalent">
            <div class="joinUs">
                <span class="joinUsTop" style="color: #4608ad;">联系我们</span>
                <br>
                <span class="joinUsBottom" style="color: #4608ad;">Contact Us</span>
            </div>
        </div>

        <div class="contactStyle">
            <h4>商务合作：<span class="email-contact">pbiz@deepeye.cc</span></h4>
            <h4>媒体合作：<span class="email-contact">pr@deepeye.cc</span></h4>
            <h4>招贤纳士：<span class="email-contact">hr@deepeye.cc</span></h4>
            <h4>电话：021-88888888</h4>
            <h4>地址：上海市浦东新区博云路111号爱酷空间</h4>
        </div>
    </div>
    <!--脚部部分-->
    <div class="footer">
        <div class="footer1 w">
            <div class="footer2">
                <p>Copyright  2017 Awakening lnc. 保留所有权利。隐私政策适用条款 销售政策 法律信息 网站地图</p>
                <p>鲁ICP备17000108号</p>
            </div>
        </div>
    </div>

    <div class="Rect-contact-write">
        <div class="diamond-contact-write">

        </div>
    </div>
    <div class="rotate-purple">
        <div class="diamond-rotate">

        </div>
    </div>

    </div>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        /*文字的循环播放*/
        function professScroll(){
            var container=document.getElementById("contain");
            container.appendChild(container.firstChild);
        }
//        如不设置渐入渐退，可直接使用文字的定时播放，
        setInterval("professScroll()", 500);

//        /*文字的淡入淡出效果*/
//        var duration = 1000;
//        var startTime = new Date();
//        var p = 0;
//        requestAnimationFrame(function f(){
//            //获取到元素
//            var el = document.querySelector("#contain");
//            var p = ( new Date - startTime ) / duration;
//            el.style.opacity = Math.sin(2 * Math.PI * p);
//            requestAnimationFrame(f);
//        });
    </script>
</body>
</html>

<!--#4608AD 深-->
<!--#4D2AC2 浅-->
