<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 视口标签 -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static',filename='css/base.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static',filename='css/index.css') }}" rel="stylesheet" type="text/css" />
  <link href="{{ url_for('static',filename='css/common.css') }}" rel="stylesheet" type="text/css" />
  <title>微瞰智能</title>
</head>
<body>
     <div class="DeepEye_nav w">
    	 <div class="logo fl">
    	 </div>
    	 <ul>
             <li class='fl'><a href="/">我们是谁</a></li>
             <li class='fl'><a href="/member">团队成员</a></li>
             <li class='fl'><a href="/product">主要产品</a></li>
             <li class='fl'><a href="/contact">联系我们</a></li>
             <li class='fl'><a href="http://deepeye.cc">解决方案</a></li>
    	 </ul>
    </div>
    <div class="content">
    	<div class="w1">
			<div class="title">
                <h2>我们是谁?</h2>
				<div>微瞰智能</div>
			</div>
			<div class="title2">
				<p>(Awakening Intelligence)</p>
				<p>致力于智能和医疗数据的研究与应用</p>
				<p>为患者和医疗机构提供准确、快速、低成本的病理诊断整体解决方案</p>
			</div>
			<div class="circle">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="SmallTitle">
				<div>准确</div>
				<div>快速</div>
				<div>低成本</div>
			</div>
			<div class="title3">
				<h1>微瞰智能愿景</h1>
				<p>为患者提供准确、快速、普惠的病理诊断</p>
				<p>为医生提供便捷、高效的辅助病理诊断系统</p>
				<p>促进优质病理诊断资源的下沉与优化配置，促进分级治疗</p>
			</div>
    	</div>
    </div>
    <div class="o">
    	<div class="diamond">
    </div>
    </div>
     <div class="Rect">
         <div class="diamond-1">
         </div>
     </div>
    <div class="footer">
    	<div class="footer1 ">
            <p>Copyright © 2017 Awakening lnc. 保留所有权利。隐私政策适用条款 销售政策 法律信息 网站地图</p>
            <p>鲁ICP备17000108号</p>
    	</div>
    </div>
    <script src="{{ url_for('static',filename='js/jquery-3.0.0.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.js')}}"></script>
</body>
</html>
