<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>团队成员</title>
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}"> -->
    <link rel="stylesheet" href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/common.css')}}">
</head>
<body style="background: #4d2dc3">
<div>
    <nav class="navbar navbar-default" role="navigation" style="background: none;border: #4F4CD1;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#DeepEye_slide_nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                </a>
            </div>
            <!--  Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="DeepEye_slide_nav">
                <ul class="nav navbar-nav">
                    <li><a href="/">我们是谁</a></li>
                    <li><a href="/member">团队成员</a></li>
                    <li><a href="#">研究</a></li>
    		        <li><a href="/contact">联系我们</a></li>
                    <li><a href="http://deepeye.cc">解决方案</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="team-number">
        <P class="team-number-text">团队成员</P>
        <div class="explain-ai-content">
            <span class="explain-ai-top">HOW (AI) IS MARKING</span>
            <br>
            <span class="explain-ai-bottom">A &nbsp;REAL &nbsp;DIFFERENCE</span>
        </div>
    </div>

    <div id="scroll">
        <div class="scroll-left nav nav-tabs " id="scroll-list-show" role="tablist">
            <div class="ceo-show active">
                <span class="appellation" href="#Section1" aria-controls="home" role="tab" data-toggle="tab">CEO</span>
            </div>
            <div class="coo-show active" role="presentation">
                <span class="appellation" href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">COO</span>
            </div>
            <div class="scientic-show"  role="presentation">
                 <span class="appellation" href="#Section3" aria-controls="messages" role="tab" data-toggle="tab">科学顾问</span>
            </div>
            <div class="policy-show" role="presentation">
                 <span class="appellation" href="#Section4" aria-controls="messages" role="tab" data-toggle="tab">政策顾问</span>
            </div>
        </div>

        <div class="scroll-center tab-content tabs" >

            <!--Li-->
            <div class=" tab-pane fade in active" id="Section1">
                <div class="name-area-intro">
                    <span class="charName">李冠男</span>
                    <p style="border-bottom: 3px solid #fff;width: 45px; "></p>
                    <span class="education">博士</span>
                </div>

                <div class="professional-intro tab-pane fade in active">
                    <div class="university-profess tab-pane fade in active">
                        <span>英国华威大学</span>
                        <br>
                        <span>计算机系博士毕业</span>
                    </div>
                    <div class="research  tab-pane">
                        <span>华威大学计算机系</span><br>
                        <span>组织图像分析实验室</span><br>
                        <span>（前称生物图像分析实验室，</span><br>
                        <span>数字病理分析领域的先行者）</span><br>
                        <span>前成员</span>
                    </div>
                    <div class="conference-paper">
                        <span>在多个国际学术会议</span><br>
                        <span>和期刊发表上过</span><br>
                        <span>多篇数字病理图像处理和分析论文</span>
                    </div>
                </div>
            </div>

            <!--Xu-->
            <div class=" tab-pane fade" id="Section2">
                <div class="name-area-intro">
                    <span class="charName">徐丰</span>
                    <p style="border-bottom: 3px solid #fff;width: 45px; "></p>
                    <span class="education">COO</span>
                </div>

                <div class="professional-intro tab-pane fade in active">
                    <div class="research  tab-pane" style="margin-top: 200px;">
                        <span>诊断级远程医学影像服务平台</span>
                        <span>www.51dupian.com联合创始人</span><br>
                        <span>多年互联网医疗创业经验</span><br>
                    </div>

                </div>
            </div>

            <!--Science-->
            <div class=" tab-pane fade" id="Section3">
                <div class="name-area-intro">
                    <span class="charName">Nasir Rajpoot教授</span>
                    <p style="border-bottom: 3px solid #fff;width: 45px; "></p>
                    <span class="education">科学顾问</span>
                </div>
                <div class="professional-intro tab-pane fade in active">
                    <div class="university-profess tab-pane fade in active">
                        <span>现任英国华威⼤学计算机系教授</span>
                        <br>
                        <span>华威⼤学计算机系组织图像分析实验室创始⼈</span>
                        <br>
                        <span>计算机系博士毕业</span>
                    </div>
                    <div class="research  tab-pane">
                        <span>英国NHS数字病理卓越中⼼主任</span><br>
                        <span>国际知名数字病理图像专家，IEEE⾼级会员</span><br>
                        <span> 美国计算机协会会员,英国癌症研究协会会员，欧洲癌症研究协会员</span><br>
                        <span>英国NHS乳腺癌⼈⼯智能病理诊断研究负责⼈</span><br>
                    </div>
                    <div class="conference-paper">
                        <span>在多个国际学术会议</span><br>
                        <span>和期刊发表上过</span><br>
                        <span>多篇数字病理图像处理和分析论文</span>
                    </div>
                </div>
            </div>

            <!--Policy-->
            <div class=" tab-pane fade" id="Section4">
                <div class="name-area-intro">
                    <span class="charName">韩川</span>
                    <p style="border-bottom: 3px solid #fff;width: 45px; "></p>
                    <span class="education">政策顾问</span>
                </div>

                <div class="professional-intro tab-pane fade in active">
                    <div class="research  tab-pane" style="margin-top: 200px;">
                        <span>北京⼤学</span><br>
                        <span>⽣命科学华东产业研究院技术转移总监</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Rect">
        <div class="diamond-1">

        </div>
    </div>
    <!--脚部部分-->
    <div class="footer">
        <div class="footer1 w">
            <div class="footer2">
                <p>Copyright  2017 Awakening lnc. 保留所有权利。隐私政策适用条款 销售政策 法律信息 网站地图</p>
                <p>鲁ICP备17000108号</p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript"  src="{{url_for('static',filename='js/jquery-3.0.0.min.js')}}"></script>
<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
